[defaults]

inventory = inventory/hosts.ini

remote_user = root

private_key_file = ~/.ssh/id_rsa

collections_paths = ./collections:~/.ansible/collections:/usr/share/ansible/collections

roles_path = ./roles:~/.ansible/roles:/usr/share/ansible/roles
